/MonthTest.class
/QuarterTest.class
/MediaCalculator$1.class
/InputReaderTest.class
/MediaCalculatorTest.class
/Input2022FReferenceTest.class
/Input.class
/InputTest.class
/Channel.class
/LinkedListTest.class
/ChannelTest.class
/LinkedList$Node.class
/LinkedList.class
/MediaCalculator.class
/MediaGUI.class
/MediaGUITest.class
/Month.class
/Quarter.class
/ProjectRunner.class
